body, html {
    /*height: 100%;*/
}

body {
	display:none;
    margin: 0;
    padding: 0;
    /* font-family: Questrial, sans-serif;
    flex-direction: column;
    font-size: 17px;
    display: flex; */
    
    color: #878787;
   
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    background: #e5e5e5;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}

.fixed-sidebar-left {
    position: fixed;
    top: 0px;
    left: 0;
    width: 250px;
    margin-left: 0;
    bottom: 0;
    z-index: 100;
    border: none;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: white;
}
.loader-background{
    opacity: 0.7;
    filter: alpha(opacity=20);
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}
.loader-image{
    width: 60px;
}


.version-number {
    position: fixed;
    bottom: 0;
    right: 8px;
}
.top-header{
    background: #212121;
    height: 80px;
    width: 100%;
    left: 250px;
    position: fixed;
    box-shadow: 0 28px 28px rgb(222, 217, 217);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    top: 0;
    z-index: 10;
}
.main-content-container{
    /*left: 250px;*/
    position: relative;
    top: 80px;
    margin-left: 250px;
}

.logo-img{
    width: 100%;
    border-radius: 10px;
}
.logo-image-container{
    padding: 10px;
    background: white;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input{
   
        border-radius: 50px;
        height: 36px;
        background: #fff;
        padding-right: 30px;
    
}
.input-group-btn {
    position: absolute;
    right: 22px;
    top: 8px;
    z-index: 4;
}
.menu-imag-name-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 15px 0px;
    cursor: pointer;
    transition: 0.9s ease;
}
.menu-image-container{
    width: 30%;
    font-size: 22px;
    padding-left: 15px;
}
.menu-name-container{
    width: 70%;
    font-size: 14px;
    color: rgb(33, 33, 33);
}
.menu-imag-name-container:hover{
    background: #f4f4f4;

}
.product-tag-preview-image-container {
    position: relative; */
    /* border: 1px solid #0000002b; */
    /* text-align: center; */
    display: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product-tag-image {
       /* max-width: 50%; */
       height: 200px;
       margin: 10px;
}
.cross-png {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 4px;
    cursor: pointer;
}
.packages-flex-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.package-single-itemcontainer{
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 270px;
    background-color: #e8e8e8;
    text-align: center;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    position: relative;
}
.package-image-container{
    height: 263px;
    justify-content: center;
    align-items: center;
    /*display: flex;*/
    padding-top: 30px;
}
.package-text-container{
    background-color: #e8e8e8;
    height: 100px;
    border-radius: 6px;
}
.package-image-width-95perc{
    max-width: 95%;
    border-radius: 6px;
    height: 133px;
}
.package-title{
    color: black;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 5px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    height: 60px;
}
.color-orange{
    color: #e6b034 !important;
}
.edit-delete-icon-container{
    position: absolute;
    right: 0;
    margin: 5px;
    cursor: pointer;
    color: black;
}
.edit-delete-icon{
    margin: 5px;
}
.days-container{
    padding: 20px;
    border-bottom: 3px solid #0000004a;
}
.iternary-textarea{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.day-heading-and-button-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.day-header{
    font-weight: bold;
    margin-bottom:0px;
    margin-right: 5px ;
    font-size: 22px;
}
.timeslot-button{
    background: #71aa68;
    color: white;
    border: 1px solid #71aa68;
    padding: 5px;
    font-weight: bold;
    border-radius: 13px;

}
.menu-active{
    background-color: #e5e5e5;
}
.approve-button{
    margin: 5px;
    background: #212121;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.approve-button-checked {
    margin: 5px;
    /* background: #212121; */
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.position-relative{
    position: relative;
}
.display-none{
    display: none;
}
.day-image-headers-container{
    margin: 20px 0px;
    color: black
}